page-about {
.ion-title{
    padding:12px
}
.ioncard{
    
        width: 100%;
        margin: 0px;
        height: 18em;
        
}
.item-md ion-avatar img {
    border-radius: 50%;
    
    width: 120px;
    height: 120px;
    margin-left: 8em;
    
}
.card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 0px;
}
.item-ios{
    padding-left: 48%;
}

}