page-login {
    .button {
        color:black;
        background-color:beige;
        height: 3.5rem;
    }

   .align2{
       margin-top:20rem;
       text-transform: lowercase
   }
   .scroll-content {
    background-color:rgb(168, 236, 236)
}
h1{
    text-align:center;
    margin-top: 8.7rem !important;
    font-size: 4.6rem;
    margin-bottom: -14rem;
}
}
