page-login {
    .button {
        color:black;
        background-color:beige;
        height: 3.5rem;
    }

   .align2{
       margin-top:20rem;
       text-transform: lowercase
   }
   .scroll-content {
    background-color:rgb(169, 248, 169)
}
}
